@model SchoolManagementMVC.Models.UploadFile

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "UploadFiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>UploadFile</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.StudentID, "StudentID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("StudentID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.StudentID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.EmployeeID, "EmployeeID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("EmployeeID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.files, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple", @class = "form-control", id = "galleryPhoto" })
                        @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="galleryContainer">
                    <div class="gallery"></div>
                </div>
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        $("#galleryPhoto").change(function () {
            if (typeof (FileReader) != "undefined") {
                var dvPreview = $("#gallery");
                dvPreview.html("");
                var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;

                $($(this)[0].files).each(function () {
                    var file = $(this);

                    if (regex.test(file[0].name.toLowerCase())) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var img = $("<img />");
                            img.attr("style", "height:100px;width: 100px");
                            img.attr("src", e.target.result);
                            img.addClass('img-responsive img-rounded');
                            dvPreview.append(img);
                        }
                        reader.readAsDataURL(file[0]);
                    } else {
                        alert(file[0].name + " is not a valid image file.");
                        dvPreview.html("");
                        return false;
                    }
                });
            } else {
                alert("This browser does not support HTML5 FileReader.");
            }
        });
    });
 //   var imagesPreview = function(input, placeToInsertImagePreview) {
    //	if(input.files) {
    //		var filesAmount = input.files.length;

    //		for(i = 0; i < filesAmount; i++) {
    //			var reader = new FileReader();

    //			reader.onload = function(event) {
    //				$($.parseHTML('<img>')).attr('src', event.target.result).appendTo(placeToInsertImagesPreview);
    //			}

    //			reader.readAsDataURL(input.files[i]);
    //		}
    //	}
    //};

    //$('#galleryPhoto').on('change', function() {
    //	imagesPreview(this, 'div.gallery');
    //});
</script>